@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Dorsa');

body {
    height: 100%;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    background: url(../img/page-bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
/*.wrapper {
    box-sizing: border-box;
    display: block;
    width: 1024px;
    position: relative;
    margin: 0 auto;
    height: auto;
}*/

.header {
    /*width: 1024px;*/
    /*margin: 10px auto;*/
    /*position: relative;*/
    /*top: 0;*/
    /*font-family: 'Pathway Gothic One', sans-serif;*/
    /*text-transform: uppercase;*/
}

/*---navigation----------*/

.left {
    float: left;
}

.right {
    float: right;
}

.menu {
    width: 100%;
    /*height: 60px;*/
    /*box-sizing: border-box;*/
    /*background: hsla(0, 50%, 100%, 0.4);*/
    /*list-style: none;*/
    /* border создаст площадь, где не будет работать  .menu__item:hover */
    /*border: 10px transparent;*/
    /*font-size: 60px;*/
    text-transform: uppercase;
}

.menu-item {
    position: relative;
    display: inline-block;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
/*}*/

.menu-item > a,
.submenu-item > a {
    display: inline-block;
    /*height: 40px;*/
    padding: 0 35px;
    text-decoration: none;
    /*line-height: 40px;*/
}
.submenu-item > a {
    width: 123px;
}
.menu-item > a {
    width: 95px;
}

.menu-item>a:hover {
    background:  hsla(0, 50%, 0%, 0.4);
}
.submenu-item>a:hover {
    background: hsla(0, 50%, 0%, 0.4);
}

/*.submenu {*/
    /*!* делаем невидимым .submenu *!*/
    /*display: none;*/
    /*!* при появлении .submenu окажется поверх других элементов *!*/
    /*position: absolute;*/
    /*left: -25px;*/
    /*!* необходимо перекрыть border  .menu  *!*/
    /*top: 40px;*/
    /*list-style: none;*/
    /*background: hsla(0, 50%, 100%, 0.6);*/
    /*padding: 10px 5px;*/
/*}*/

/*!* делаем .submenu видимым *!*/

/*.menu-item:hover>.submenu {*/
    /*display: block;*/
    /*background: hsla(0, 50%, 100%, 0.6);*/
/*}*/

/*.submenu-item {*/
    /*margin-top: 20px;*/
    /*text-align: left;*/
/*}*/

/*.wrapper {*/
    /*width: 700px;;*/
    /*height: 300px;*/
    /*margin: auto;*/
/*}*/


/*---------------------------------*/
.logo {
    position: absolute;
    left: 44%;
    width: 137px;
    height: 137px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    /*vertical-align: middle;*/
    line-height: 140px;
    font-weight: normal;
    /*color: #000000 ;*/
    /*transition: all 2s ease-in-out;*/
}

.logo > a {
    font-family: 'Dorsa', sans-serif;
    font-size: 60px;
    text-decoration: none;
    color: #263555;
}

/*.main {*/
    /*background-color: #fff;*/
    /*padding: 58px 61px;*/
/*}*/

/*.slider {*/
    /*position: relative;*/
/*}*/

/*.text {*/
    /*position: absolute;*/
    /*bottom: 300px;*/
    /*height: 58px;*/
    /*width: 223px;*/
    /*background: #FFFFFF;*/
    /*border: 1px solid #e9e9e8;*/
    /*font-size: 22px;*/
    /*color: #263555;*/
    /*text-align: center;*/
    /*line-height: 58px;*/
 /*}*/

/*.text2 {*/
    /*position: absolute;*/
    /*bottom: 241px;*/
    /*height: 58px;*/
    /*width: 274px;*/
    /*background: #38afe5;*/
    /*border: 1px solid #4cb7e8;*/
    /*font-size: 34px;*/
    /*color: #ffffff;*/
    /*text-align: center;*/
    /*line-height: 58px;*/
/*}*/

/*.controls {*/
    /*position: absolute;*/
    /*left: 4%;*/
    /*bottom: 7%;*/
    /*width: 88px;*/
    /*height: 88px;*/
    /*background: #4cb7e8;*/
    /*display: inline-block;*/
    /*border-radius: 50%;*/
    /*text-align: center;*/
    /*!*vertical-align: middle;*!*/
    /*line-height: 140px;*/
    /*font-weight: normal;*/
/*}*/

/*.controls:before {*/
    /*content: '\21d0';*/
/*}*/

/*.controls:after {*/
    /*content: '\21d2';*/
/*}*/