<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Новини</title>
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <!--<link rel="stylesheet" href="../../css/news/...">-->
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.jpg" alt="logo"></a>
    <h1>Новини</h1>
  </header>

  <section class="content">
    <h2>Новини</h2>
  </section>

  <footer class="footer">

  </footer>
</div>
</body>
</html>