<!DOCTYPE html>
<html lang="uk-UA">
<head>
  <meta charset="UTF-8">
  <title>Новини</title>
  <link rel="shortcut icon" href="../../img/favicon_yellow.ico">
  <meta name="description" content="Bank's_Internal_Page">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/news/news.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.png" alt="logo"></a>
    <h1>Новини</h1>
  </header>

  <section class="content">
    <h2>Привітання зі святами</h2>
    <img src="../../img/news/congratulations.jpg" alt="Привітання з 8 березня">
  </section>

  <footer class="footer">
  </footer>
</div>
</body>
</html>