 /** {
    margin: 0;
    padding: 0;
 }*/

 .popup-duble-corner {
    background: #fcfafa;
    border: 1px solid #e9e6e6;
    border-radius: 1px;
    position: relative;
    padding: 10px 19px;
    width: 170px;
    margin-bottom: 70px;
}
 
 
.popup-duble-corner:after,
.popup-duble-corner:before {
    content: '';
    border: solid transparent;
    position: absolute;
    left: 37%;
    bottom: -60px;
}

.popup-duble-corner:before {
    border-top-color: #e9e6e6;  /*#e9e6e6*/
    border-width: 30px;
}

.popup-duble-corner:after {
    border-top-color: #fcfafa; /*#fcfafa*/
    border-width: 32px;
    margin-left: -2px;
}