
.slider {
  position: relative;
  width: 902px;
  height: 580px;
}

h2, h3 {
  display: inline-block;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 15px 10px;
  text-transform: uppercase;
}

h2{
  font-size: 34px;
  font-weight: 400;
  position: absolute;
  top: 250px;
  z-index: 50;
  color: #fff;
  background: #38afe5;
}

h3 {
  font-size: 22px;
  position: absolute;
  top: 201px;
  z-index: 50;
  color: #263555;
  background: #fff;
}


input,
label {
  display: none;
}

input:checked + div + label:after {
  content: '\2190';
  color: #fff;
  position: absolute;
  right: 7px;
  top:36px;
  z-index: 100;
}

input:checked + div + label + label:after {
  content: '\2192';
  color: #fff;
  position: absolute;
  left: 7px;
  top: 36px;
  z-index: 100;
}

input:checked + div + label{
  position: absolute;
  top: 450px;
  left: 36px;
  display: inline-block;
  height: 90px;
  width: 45px;
  background-color: #39afe5;
  border-radius: 45px 0 0 45px;
  cursor: pointer;
  z-index: 50;
}

input:checked + div + label + label {
  position: absolute;
  top: 450px;
  left: 81px;
  display: inline-block;
  background-color: #39afe5;
  height: 90px;
  width: 45px;
  border-radius: 0 45px 45px 0;
  cursor: pointer;
  z-index: 50;
}

input:checked + div + label:hover,
input:checked + div + label + label:hover{
  opacity: .7;
}

input:checked + div + label:active,
input:checked + div + label + label:active{
  opacity: .7;
}

div {
   position: absolute;
}

.slider > div {
  visibility: hidden;
  opacity: 0;
  transition: all 335ms;
}

.slider > input:checked + div {
  visibility: visible;
  opacity: 1;
}

/*-----------------------------------------------------*/



/*footer*/

/*.footer {*/
  /*background-color: darkblue;*/
  /*width: 1024px;*/
/*}*/

/*.fb, .google, .linkedin, .twitter {*/
  /*display: inline-block;*/
  /*background: url(../img/index.png) no-repeat;*/
  /*overflow: hidden;*/
  /*text-indent: -9999px;*/
  /*text-align: left;*/
  /*margin: 15px;*/
/*}*/

/*.fb {*/
  /*background-position: -5px -0px;*/
  /*width: 40px;*/
  /*height: 40px;*/
/*}*/

/*.google {*/
  /*background-position: -50px -0px;*/
  /*width: 40px;*/
  /*height: 40px;*/
/*}*/

/*.linkedin {*/
  /*background-position: -5px -45px;*/
  /*width: 40px;*/
  /*height: 40px;*/
/*}*/

/*.twitter {*/
  /*background-position: -50px -45px;*/
  /*width: 40px;*/
  /*height: 40px;*/
/*}*/
