
.slider {
  position: relative;
  /*width: 902px;*/
  width: auto;
  /*height: 580px;*/
}

h2, h3 {
  display: inline-block;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 15px 10px;
  text-transform: uppercase;
}

h2{
  font-size: 34px;
  font-weight: 400;
  position: absolute;
  top: 250px;
  z-index: 50;
  color: #fff;
  background: #38afe5;
}

h3 {
  font-size: 22px;
  position: absolute;
  top: 201px;
  z-index: 50;
  color: #263555;
  background: #fff;
}


input,
label {
  display: none;
}

input:checked + div + label:after {
  content: '\2190';
  color: #fff;
  position: absolute;
  right: 7px;
  top:36px;
  z-index: 100;
}

input:checked + div + label + label:after {
  content: '\2192';
  color: #fff;
  position: absolute;
  left: 7px;
  top: 36px;
  z-index: 100;
}

input:checked + div + label{
  position: absolute;
  top: 450px;
  left: 36px;
  display: inline-block;
  height: 90px;
  width: 45px;
  background-color: #39afe5;
  border-radius: 45px 0 0 45px;
  cursor: pointer;
  z-index: 50;
}

input:checked + div + label + label {
  position: absolute;
  top: 450px;
  left: 81px;
  display: inline-block;
  background-color: #39afe5;
  height: 90px;
  width: 45px;
  border-radius: 0 45px 45px 0;
  cursor: pointer;
  z-index: 50;
}

input:checked + div + label:hover,
input:checked + div + label + label:hover{
  opacity: .7;
}

/*for mobile devices*/
input:checked + div + label:active,
input:checked + div + label + label:active{
  opacity: .7;
}

div {
   position: absolute;
}

.slider > div {
  visibility: hidden;
  opacity: 0;
  transition: all 1335ms;
}

.slider > input:checked + div {
  visibility: visible;
  opacity: 1;
}



/*--------*/
@media (max-width: 767px) {

  img {
    width: 100%;
  }

  h2{
    font-size: 26px;
    position: absolute;
    top: 103px;
  }

  h3 {
    font-size: 18px;
    position: absolute;
    top: 55px;
  }

  input:checked + div + label + label {
    position: absolute;
    top: 250px;
    left: 81px;
  }

  input:checked + div + label {
    position: absolute;
    top: 250px;
    left: 36px;
  }
}


/*--------*/


@media (max-width: 575px) {

  h2{
    font-size: 18px;
    position: absolute;
    top: 66px;
  }

  h3 {
    font-size: 12px;
    position: absolute;
    top: 25px;
  }

  input:checked + div + label + label {
    height: 66px;
    width: 33px;
    position: absolute;
    top: 137px;
    left: 63px;
  }

  input:checked + div + label + label:after {
    position: absolute;
    left: 10px;
    top: 20px;
  }

  input:checked + div + label {
    height: 66px;
    width: 33px;
    position: absolute;
    top: 137px;
    left: 30px;
    /*position: absolute;*/
    /*top: 250px;*/
    /*left: 36px;*/
  }

  input:checked + div + label:after {
    position: absolute;
    left: 10px;
    top: 20px;
  }
}

@media (max-width: 320px){

  input:checked + div + label + label {
    height: 60px;
    width: 30px;
    position: absolute;
    top: 130px;
    left: 60px;
  }

  input:checked + div + label + label:after {
     content: '\2192';
     color: #fff;
     position: absolute;
     left: 8px;
     top: 19px;
     z-index: 100;
   }

  input:checked + div + label {
    height: 60px;
    width: 30px;
    position: absolute;
    top: 130px;
    left: 30px;
  }

  input:checked + div + label:after {
    content: '\2190';
    color: #fff;
    position: absolute;
    right: 7px;
    top: 19px;
    z-index: 100;

}


/*-----------------------------------------------------*/



/*footer*/

/*.footer {*/
  /*background-color: darkblue;*/
  /*width: 1024px;*/
/*}*/

/*.fb, .google, .linkedin, .twitter {*/
  /*display: inline-block;*/
  /*background: url(../img/index.png) no-repeat;*/
  /*overflow: hidden;*/
  /*text-indent: -9999px;*/
  /*text-align: left;*/
  /*margin: 15px;*/
/*}*/

/*.fb {*/
  /*background-position: -5px -0px;*/
  /*width: 40px;*/
  /*height: 40px;*/
/*}*/

/*.google {*/
  /*background-position: -50px -0px;*/
  /*width: 40px;*/
  /*height: 40px;*/
/*}*/

/*.linkedin {*/
  /*background-position: -5px -45px;*/
  /*width: 40px;*/
  /*height: 40px;*/
/*}*/

/*.twitter {*/
  /*background-position: -50px -45px;*/
  /*width: 40px;*/
  /*height: 40px;*/
/*}*/
