ul {
  list-style: decimal;
}

.main h2 {
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 15px 0;
  background-color: #fff;
  width: 50%;
  margin: 10px auto;
  opacity: .7;
}