table {
  /*border: 2px;*/
  /*border-collapse: separate;*/
  /*border-spacing: 10px;*/
  width: 98%;
  /*height: 130px;*/
  /*vertical-align: center;*/
  /*box-sizing: border-box;*/
}

tbody {
  /*vertical-align: center;*/
  }

td {
   /*border: 1px dashed #000;*/
  /*outline: 1px dashed #fff200;*/
  vertical-align: middle;
  padding: 10px;
}