h4  {
  width: 100%;
  text-align: center;
}

.content__menu-item {
  text-align: center;
}

.menu__test {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu__test-item1 {
  width: 100%;
  /*text-align: center;*/
}

.menu__test-item2 {
  width: 27%;
  text-align: center;
}

.content__link {
  font-family: Calibri, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
}