/*@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext');*/
@import "fonts.css";

body {
  background: #50463e url("../img/bg1-min.jpg") top center repeat-y;
  font-family: 'Lobster', cursive, Calibri, Arial, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2{
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin: 15px 0;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

a:active {
  color: #fff200;
}

/*Общий css код для неактивного елемента li*/
.DISABLED {
  cursor: default; /*  курсор в виде стрелки */
  pointer-events: none; /* делаем элемент неактивным для взаимодействия */
  /*text-decoration: line-through; !* делаем элемент зачеркнутым *!*/
  background: #777;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin-top: 100px;
}

/*----------------------------------------*/
/* - HEADER SECTION - */

.header {
  display: -ms-flexbox; /* will work on IE10 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff200;
  border-bottom: 2px solid #000;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  padding: 15px;
  height: 60px;
  width: 313px;
}

/*----------------------------------------*/
/* - MAIN SECTION - */

.content {
  display: -ms-flexbox; /* will work on IE10 */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255, .6);
  width: 60%;
  padding: 15px 0;
  margin: 10px auto;
}

/*--------------------- +++ -------------------*/

.content__link {
  color: #000;
  padding: 5px;
  line-height: 25px;
}

.content__link:hover {
  color: #fff200;
  background-color: #000;
  padding: 5px;
  border-radius: 5px;
}

.content__menu {

}

.content__menu-item {
  position: relative;
  padding: 15px;
}

.content__submenu {
  width: 350px;
  /*display: none;*/
  position: absolute;
  z-index: 1;
  top: 0;
  left: 150px;
  background-color: #fff200;
  border-left: 30px solid #000;
  border-radius: 5px;
  transition: all 1s;
  opacity: 0;
  -webkit-transform: scale(0,0) translateX(0);
  -moz-transform: scale(0,0) translateX(0);
  -ms-transform: scale(0,0) translateX(0);
  -o-transform: scale(0,0) translateX(0);
  transform: scale(0,0) translateX(0);
}

.content__submenu-item {
  padding: 15px;
}

.content__menu-item:hover > .content__submenu {
  /*display: block;*/
  opacity: 1;
  -webkit-transform: scale(1,1) translateX(-10px);
  -moz-transform: scale(1,1) translateX(-10px);
  -ms-transform: scale(1,1) translateX(-10px);
  -o-transform: scale(1,1) translateX(-10px);
  transform: scale(1,1) translateX(-10px);
}

/*----------------------------------------*/
/* - FOOTER SECTION - */



/*----------------------------------------*/
/* - MEDIA REQUEST - */

@media screen and (max-width: 1023px) {
  .content {
    width: 75%;
  }
}

@media screen and (max-width: 967px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: 98%;
  }
}