body {
  background-color: #fff8dc;
  background: url("../img/bg.jpg") top center no-repeat;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin: 15px;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
}

/*----------------------------------------*/
/* - HEADER SECTION - */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff200;
}

.logo {
  padding: 15px;
}

/*----------------------------------------*/
/* - MAIN SECTION - */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255, .6);
  width: 90%;
  padding: 15px 0;
  margin: 10px auto;
}

/*----------------------------------------*/
/* - FOOTER SECTION - */

/*.footer {*/
  /*box-sizing: border-box;*/
  /*width: 100%;*/
  /*padding: 2%;*/
  /*background-color: rgba(0, 0, 0, .8)*/
/*}*/