body {
  background-color: #fff8dc;
  /*background: url("../img/foto.jpg") top center no-repeat;*/
}

.header {
  background-color: #fff618;
  display: flex;
  justify-content: space-around;
}

.header img {
  padding: 15px;
}

.header h1 {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px 0;
}

.menu__item {
  position: relative;
}

.menu li {
  padding: 5px;
}

.menu a {
  color: #000;
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
}

.menu a:hover {
  color: #fff618;
  background-color: #000;
  border-radius: 5px;
  padding: 5px;
  transition: all .8s;
}

.submenu {
  opacity: 0;
  background-color: #fff618;
  border-radius: 5px;
  position: absolute;
  width: 350px;
  top: 0;
  left: 250px;
  text-align: center;
  transform: translateY(-425px) translateX(300px);
  z-index: 1;
}

.menu__item:hover > .submenu {
  opacity: 1;
  transition: all 1s;
  transform: translateX(-100px);
}

.aside,
.aside img {
  width: 600px;
}

.links {
  padding-left: 20px;
}