<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Наш Банк </title>
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/bank/board_and_shareholders.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.png" alt="logo"></a>
    <h1>Наш Банк</h1>
  </header>

  <section class="content">
    <h2>Правління та Акціонери Банку</h2>

    <div class="content__card">
      <h2>Зінченко  Віктор  Ігорович</h2>
      <h3>Голова Спостережної ради</h3>
      <img class="content__photo content__photo_min" src="../../img/bank/board_and_shareholders/Head_Watching_Council.jpeg" alt="Фото">
      <p>
        Народився у місті Київ.
        Закінчив Київський політехнічний інститут та
        Київський національний економічний університет.
        Віктор Ігорович Зінченко працює у банківській сфері з 1992 року. 
        Працював у Першому Українському Міжнародному Банку, ПАТ «БАНК ФОРУМ» та
        ПАТ «КРЕДИТПРОМБАНК». З 12.09.2016  року Голова Спостережної ради
        ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»
      </p>
    </div>

    <div class="content__card">
      <h2>Гришко Олена Анатоліївна</h2>
      <h3>Член Спостережної ради</h3>
      <img class="content__photo" src="../../img/bank/board_and_shareholders/Watching_Council_1.jpeg" alt="Фото">
      <p>
        Народилася у місті Київ.
        Закінчила Київський національний економічний університет

        Олена Анатоліївна  в банківському секторі понад 18 років
        Працювала в ПАТ «Аграрний комерційний банк»,
        ТОВ «УКРПРОМБАНК», ПАТ «КБ «НАДРА»,
        ПАТ «Укрсоцбанк»

        З 2014 року працювала на керівних посадах
        ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»

        З 04.10.2016  року  є Членом Спостережної ради
        ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»
      </p>
    </div>

    <div class="content__card">
      <h2>Гончаренко Ігор Володимирович</h2>
      <h3>Член Спостережної ради</h3>
      <img class="content__photo" src="../../img/bank/board_and_shareholders/Watching_Council_2.jpeg" alt="Фото">
      <p>
        Народився у місті Київ.
        Закінчив Київський автомобільно-дорожній інститут
        ім. 60-річчя Великої Жовтневої соціалістичної революції

        Працює у банківській сфері більше 24 років
        З серпня 2016  року є Членом Спостережної ради
        ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»
      </p>
    </div>

    <div class="content__card">
      <h2>Омельченко Олександр Вікторович</h2>
      <h3>Голова Правління</h3>
      <img class="content__photo" src="../../img/bank/board_and_shareholders/Head_of_the_Board.jpeg" alt="Фото">
      <p>
        Народився  в місті Києві
        Освіта: вища економічна, у 1998-му році закінчив Українсько-фінський інститут менеджменту і бізнесу (спеціальність: "Фінанси та кредит").

        В банківській системі працює з 1996 року.
        В 1996-2008 рр. працював в ПАТ «ВіЕйБі Банк» у підрозділах ризик-менеджменту та фінансовій службі.

        В ПАТ «Банк інвестицій та заощаджень» працює з 2008-го року, у тому числі з 13.02.2017 року приступив до виконання обов’язків Голови Правління.
      </p>
    </div>

    <div class="content__card">
      <h2>Шкодовський Вадим Ростиславович</h2>
      <h3>Заступник Голови Правління з роздрібного бізнесу та МСБ</h3>
      <img class="content__photo" src="../../img/bank/board_and_shareholders/Deputy_Chairman_of_the_Board_of_Retail_Business.jpeg" alt="Фото">
      <p>
        Народився у Кіровоградській області
        Закінчив Одеський державний економічний університет за спеціальністю "Фінанси та кредит".
        Працював в ПАТ КБ «Правекс Банк», АТ «Дельта Банк»,
        АТ «ТАСКОМБАНК».

        З 16.03.2017  року є Заступником Голови Правління з  роздрібного бізнесу та МСБ та Членом Правління
           ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»
      </p>
    </div>

    <div class="content__card">
      <h2>Шиянюк Микола Васильович</h2>
      <h3>Директор з правових питань та комплаєнс-контролю, Член Правління</h3>
      <img class="content__photo" src="../../img/bank/board_and_shareholders/Director_of_Legal_Affairs_and_Compliance_Control.jpeg" alt="Фото">
      <p>
        Народився  в місті Потсдам Німеччина.
        Закінчив Львівський державний університет
        ім. Івана Франка
        Працював  в ПАТ «ФОЛЬКСБАНК»
        та ПАТ «БАНК КІПРУ».
        З 26.12.2016 року працює Директором з правових питань
        та комплаєнс-контролю  ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ» таЧленом Правління
      </p>
    </div>

    <div class="content__card">
      <h2>Зінніков  Віталій  Олександрович</h2>
      <h3>Фінансовий директор, Член Правління</h3>
      <img class="content__photo" src="../../img/bank/board_and_shareholders/Financial_Director.jpeg" alt="Фото">
      <p>
        Народився у місті Київ.
        Закінчив Національний технічний університет України «Київський політехнічний інститут» та
        Київську вищу банківську школу
        Інституту ринкових відносин та підприємництва  Міжнародного Центру «РИНОК»

        Працював в  АКБ «Альянс», КБ «Київінвестбанк» та ПАТ «Кредитпромбанк». Входив до складу Правління ПАТ «Кредитпромбанк»

        16.02.2017 року  призначено на посаду Фінансового директора  та  обрано членом Правління ПАТ «Банк інвестицій та заощаджень»
      </p>
    </div>

    <div class="content__card">
      <h2>Ящук  Мирослава  Вiталiївна</h2>
      <h3>Начальник Управління фінансового моніторингу, аналізу  та контролю , Відповідальний працівник за проведення фінансового моніторингу,Член Правління</h3>
      <img class="content__photo" src="../../img/bank/board_and_shareholders/Head_of_the_Financial_Monitoring_Department.jpeg" alt="Фото">
      <p>
        Народилась у місті Рівне
        Закінчила Тернопільську академію народного господарства
        Працювала в АТ «КРЕДОБАНК», АТ «ЄВРОГАЗБАНК» та
        ПАТ «Аграрний комерційний банк».

        З 02.03.2016 року працює Начальником Управління фінансового моніторингу, аналізу  та комплаєнс-контролю.
        Являється Членом Правління   та Відповідальним працівником за проведення фінансового  моніторингу в
        ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ».
      </p>
    </div>

    <div class="content__card">
      <h2>Овсянников Дмитро Юрійович</h2>
      <h3>Директор з корпоративного бізнесу, Член Правління</h3>
      <img class="content__photo content__photo_min" src="../../img/bank/board_and_shareholders/Corporate_Business_Director.jpeg" alt="Фото">
      <p>
        Народився у місті Бендери, Молдова
        Закінчив Одеський державний економічний університет та Національний університет «Одеська юридична академія»

        Працював в  АТ «Дельта Банк» та АТ «Укрексімбанк»

        З серпня 2015  року працює у
        ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»

        05.07.2017 призначено на посаду Директора з корпоративного бізнесу, Членом Правління
      </p>
    </div>

    <div class="content__card">
      <h2>Мацієвська Наталія В'ячеславівна</h2>
      <h3>Директор з ризиків, Член Правління</h3>
      <img class="content__photo content__photo_min" src="../../img/bank/board_and_shareholders/Director_of_Risk.jpg" alt="Фото">
      <p>
        Народилась у місті Черкаси
        Закінчив Київський державний економічний університет
        Працювала в  ПАТ «Платинум Банк» , АТ «Укрсоцбанк»
        та ЗАТ «Ідея Банк»

        З грудня 2017  року працює у
        ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»
        26 грудня 2016 призначена на посаду посаду Директора з ризиків, Членом Правління
      </p>
    </div>

    <!--<div class="content__card">-->
      <!--<h2>Євдокимова Ірина Валеріївна</h2>-->
      <!--<h3>Операційний директор</h3>-->
      <!--<img  class="content__photo" src="../../img/bank/board_and_shareholders/Operational_Director.jpeg" alt="Фото">-->
      <!--<p>-->
        <!--Народилась у місті Києві.-->
        <!--Закінчила Український освітній центр менеджменту та підприємництва-->
        <!--Працювала в КБ «УКРПРОМБАНК»-->
        <!--та АТ «Дельта Банк»-->

        <!--З 29.11.2017 року працює Операційним директором-->
        <!--ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»-->
        <!--та є Членом Правління-->
      <!--</p>-->
    <!--</div>-->


  </section>

  <footer class="footer">

  </footer>
</div>
</body>
</html>