<!DOCTYPE html>
<html lang="uk-UA">
<head>
  <meta charset="UTF-8">
  <title>Наш Банк </title>
  <link rel="shortcut icon" href="../../img/favicon_yellow.ico">
  <meta name="description" content="Bank's_Internal_Page">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/bank/deposit_guarantee_fund.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.png" alt="logo"></a>
    <h1>Наш Банк</h1>
  </header>

  <section class="content">
    <h2>Фонд гарантування вкладів</h2>
    <ol class="content__menu">
      <li class="content__menu-item">
        <a href="../../files/bank/deposit_guarantee_fund/Регламент%20процесу%20виплат%20гарантованих%20сум%20відшкодування%20вкладів%20%20ФГВФО.docx">Регламент виплат фізичним особам <br>гарантованих сум відшкодування вкладів від ФГВФО <br>у відділеннях ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ»</a>
      </li>
      <li class="content__menu-item">
        <a href="../../files/bank/deposit_guarantee_fund/Инструкция%20ФГВФЛ.docx">Інструкція ФГВФО</a>
      </li>
    </ol>

  </section>

  <footer class="footer">

  </footer>
</div>
</body>
</html>