<!DOCTYPE html>
<html lang="uk-UA">
<head>
  <meta charset="UTF-8">
  <title>Наш Банк </title>
  <link rel="shortcut icon" href="../../img/favicon_yellow.ico">
  <meta name="description" content="Bank's_Internal_Page">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/bank/introduction_to_bank.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.png" alt="logo"></a>
    <h1>Наш Банк</h1>
  </header>

  <section class="content">
    <h2>Знайомство з Банком</h2>
    <!--<div class="advantage">-->
      <!--<h3>Ключові переваги Банку</h3>-->
      <!--<div class="advantage__block1">-->
          <!--<div>-->
            <!--Високий рівень надійності-->
          <!--</div>-->
        <!--<div>-->
          <!--<ul>Високий рівень надійності-->
            <!--<li>Бездоганна репутація Банку серед клієнтів і партнерів (жодної затримки платежу клієнтів за всю історію)-->
            <!--</li>-->
            <!--<li>Стабільна висока рейтингова оцінка кредитоспроможності та надійності депозитів-->
            <!--</li>-->
            <!--<li>Високий рівень капіталізації захищає Банк від можливого негативного впливу банківських ризиків (норматив Н2 «Адекватність регулятивного капіталу» - 16,11%, при мінімальному значенні 10%)-->
            <!--</li>-->
            <!--<li>Прибуткова діяльність Банку протягом усього періоду існування та позитивна динаміка основних фінансових показників навіть в кризовий період-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <div class="content__card">
      <h3>Ключові переваги Банку</h3>
      <div class="content__card">
        <h3>Високий рівень надійності</h3>
        <ul>
          <li>Бездоганна репутація Банку серед клієнтів і партнерів (жодної затримки платежу клієнтів за всю історію)</li>
          <li>Стабільна висока рейтингова оцінка кредитоспроможності та надійності депозитів</li>
          <li>Високий рівень капіталізації захищає Банк від можливого негативного впливу банківських ризиків (норматив Н2 «Адекватність регулятивного капіталу» - 16,11%, при мінімальному значенні 10%)</li>
          <li>Прибуткова діяльність Банку протягом усього періоду існування та позитивна динаміка основних фінансових показників навіть в кризовий період</li>
        </ul>
      </div>

      <div class="content__card">
        <h3>Зважена політика управління активами та пасивами</h3>
        <ul>
          <li>Висока якість кредитного портфелю Банку – рівень прострочених кредитів в кредитному портфелі не перевищує 3,44%</li>
          <li>Достатній рівень ліквідності - збалансована структура активів і зобов’язань за строками та валютами</li>
          <li>Відсутність кредитів від НБУ</li>
        </ul>
      </div>

      <div class="content__card">
        <h3>Індивідуальний підхід до кожного клієнта</h3>
        <ul>
          <li>Гнучкий підхід в обслуговуванні сприяють лояльності клієнтів та довгостроковій співпраці з Банком</li>
          <li>Конкурентні умови (відсоткові ставки та тарифи) по продуктам для клієнтів</li>
          <li>Постійне підвищення якості обслуговування клієнтів та професіоналізму команди</li>
          <li>Індивідуальні тарифні пакети для VIP та постійних клієнтів</li>
        </ul>
      </div>

      <div class="content__card">
        <h3>Інформаційна відкритість</h3>
        <ul>
          <li>Прозора структура власності акціонерного капіталу (основними акціонерами Банку є: Лагур С.М., Івахів С.П., Димінський П.П. та Попов А.В.)</li>
          <li>Банк демонструє інформаційну відкритість, застосовуючи практику проведення аудиту фінансової звітності та отримання незалежних рейтингових оцінок на постійній основі</li>
        </ul>
      </div>



    </div>



    <div class="content__card">
      <h3>Історія логотипу Банку</h3>
      <p class="content__text">Фірмовий логотип ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ» - зображення двох білок, одна на чорному, друга - жовтому фоні, що дивляться одна на одну.</p>
      <p class="content__text">З древніх часів саме цей маленький звірок був невід`ємно пов`язаний з історією грошей. В давнину хутра різних цінних звірів виконували функцію грошей.</p>
      <p class="content__text">В якості замінника металевих грошей їх знали такі стародавні держави як - Спарта, Рим, Карфаген, народи Скандинавії та інші. Наприклад, державна валюта Хорватії і нині називається куна.</p>
      <p class="content__text">У Київській Русі звірині хутра також широко використовували при обміні різних товарів. Так, в літописах під словом «гроші» розуміються «куни» - шубки куниці, «векші» - шубки білки, «резани» - відрізки хутра, «ногати» – лапки звірів.</p>
      <p class="content__text">Коли на території Київській Русі почали карбувати металеві гроші, ці ж назви міцно закріпилися за новими монетами. Бєлка, бєль, векша або вевериця (старослов`янські назви білки) стала металевою грошовою одиницею стародавньої Київської Русі IX - XIII століть. Вперше ця грошова одиниця згадується в «Повісті временних літ». Варто відзначити, що зображення білки можна зустріти на грошах різних країн, як на старовинних так і на сучасних. Образ білки втілює у собі спритність та заощадливість – «крутитися як білка»</p>
    </div>

    <div class="content__card">
      <h3>Регіональна мережа на 01.11.2017р</h3>
      <img class="content__photo content__photo_max"  src="../../img/bank/ukraine.jpg" alt="Карта регіональної мережі, на 01.11.2017р">
      <span class="content__regional-network content__regional-network_card1">15 міст</span>
      <span class="content__regional-network content__regional-network_card2">31 відділення</span>
      <span class="content__regional-network content__regional-network_card3">59 596  Клієнтів  ФО</span>
      <span class="content__regional-network content__regional-network_card4">8 298  Клієнтів  ЮО</span>
    </div>

  </section>

  <footer class="footer">

  </footer>
</div>
</body>
</html>