<!DOCTYPE html>
<html lang="uk-UA">
<head>
  <meta charset="UTF-8">
  <title>Наш Банк </title>
  <link rel="shortcut icon" href="../../img/favicon_yellow.ico">
  <meta name="description" content="Bank's_Internal_Page">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/bank/introduction_to_bank.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.png" alt="logo"></a>
    <h1>Наш Банк</h1>
  </header>

  <section class="content">
    <h2>Знайомство з Банком</h2>
    <div class="advantage">
      <h3>Ключові переваги Банку</h3>
      <div class="advantage__block1">
          <div>
            Високий рівень надійності
          </div>
        <div>
          <ul>
            <li>Бездоганна репутація Банку серед клієнтів і партнерів (жодної затримки платежу клієнтів за всю історію)
            </li>
            <li>Стабільна висока рейтингова оцінка кредитоспроможності та надійності депозитів
            </li>
            <li>Високий рівень капіталізації захищає Банк від можливого негативного впливу банківських ризиків (норматив Н2 «Адекватність регулятивного капіталу» - 16,11%, при мінімальному значенні 10%)
            </li>
            <li>Прибуткова діяльність Банку протягом усього періоду існування та позитивна динаміка основних фінансових показників навіть в кризовий період
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="history-logo">
      <h3>Історія логотипу Банку</h3>
      <p>Фірмовий логотип ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ» - зображення двох білок, одна на чорному, друга - жовтому фоні, що дивляться одна на одну.</p>
      <p>З древніх часів саме цей маленький звірок був невід`ємно пов`язаний з історією грошей. В давнину хутра різних цінних звірів виконували функцію грошей.</p>
      <p>В якості замінника металевих грошей їх знали такі стародавні держави як - Спарта, Рим, Карфаген, народи Скандинавії та інші. Наприклад, державна валюта Хорватії і нині називається куна.</p>
      <p>У Київській Русі звірині хутра також широко використовували при обміні різних товарів. Так, в літописах під словом «гроші» розуміються «куни» - шубки куниці, «векші» - шубки білки, «резани» - відрізки хутра, «ногати» – лапки звірів.</p>
      <p>Коли на території Київській Русі почали карбувати металеві гроші, ці ж назви міцно закріпилися за новими монетами. Бєлка, бєль, векша або вевериця (старослов`янські назви білки) стала металевою грошовою одиницею стародавньої Київської Русі IX - XIII століть. Вперше ця грошова одиниця згадується в «Повісті временних літ». Варто відзначити, що зображення білки можна зустріти на грошах різних країн, як на старовинних так і на сучасних.</p> 
      <p>Образ білки втілює у собі спритність та заощадливість – «крутитися як білка»</p>
      </p>
    </div>
    <div class="regional-network">
      <h3>Регіональна мережа на 01.11.2017р</h3>
      <img class="regional-network__img" src="../../img/bank/ukraine.jpg" alt="Карта регіональної мережі, на 01.11.2017р">
      <span class="regional-network__card1">15 міст</span>
      <span class="regional-network__card2">31 відділення</span>
      <span class="regional-network__card3">59 596  Клієнтів  ФО</span>
      <span class="regional-network__card4">8 298  Клієнтів  ЮО</span>
    </div>
  </section>

  <footer class="footer">

  </footer>
</div>
</body>
</html>