<!DOCTYPE html>
<html lang="uk-UA">
<head>
  <meta charset="UTF-8">
  <title>Наш Банк </title>
  <link rel="shortcut icon" href="../../img/favicon_yellow.ico">
  <meta name="description" content="Bank's_Internal_Page">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/bank/introduction_to_bank.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.png" alt="logo"></a>
    <h1>Наш Банк</h1>
  </header>

  <section class="content">
    <h2>Знайомство з Банком</h2>
    <div class="content__card">
      <h3>Банк сьогодні</h3>
      <ol>
        <li>Дата створення
          <ul>
            <li>09 серпня 2005 року (12 років на ринку)</li>
          </ul>
        </li>
        <li>Регіональна мережа
          <ul>
            <li>31 відділення в 15 областях</li>
          </ul>
        </li>
        <li>Регулятивний капітал
          <ul>
            <li>507 млн.грн. (у тому числі, статутний капітал - 500 млн.грн.)</li>
          </ul>
        </li>
        <li>Рейтингова позиція Банку
          <ul>
            <li>26 місце за основними фінансовими показниками серед 100 банків України (2 група банків згідно класифікації НБУ) – на 01/12/2017</li>
          </ul>
        </li>
        <li>Структура власності
          <ul>
            <li>1 група (банки з прозорою структурою власності) згідно даних НБУ</li>
          </ul>
        </li>
        <li>Кредитний рейтинг
          <ul>
            <li>Рейтинг А, прогноз «стабільний»</li>
            <li>Рейтинг 4+ (висока надійність) – рейтинг депозитів</li>
          </ul>
        </li>
        <li>Всі ліцензії НБУ для комплексного обслуговування клієнтів</li>
        <li>Сучасний Інтернет-банкінг для юридичних та фізичних осіб</li>
        <li>Асоційоване членство в VISA International</li>
        <li>12 років поспіль успішне проходження міжнародного аудиту</li>
      </ol>
    </div>

    <div class="content__card">
      <h3>Ключові переваги Банку</h3>
      <div class="content__card content__card_border">
        <h4>Високий рівень надійності</h4>
        <ul>
          <li>Бездоганна репутація Банку серед клієнтів і партнерів (жодної затримки платежу клієнтів за всю історію)</li>
          <li>Стабільна висока рейтингова оцінка кредитоспроможності та надійності депозитів</li>
          <li>Високий рівень капіталізації захищає Банк від можливого негативного впливу банківських ризиків (норматив Н2 «Адекватність регулятивного капіталу» - 16,11%, при мінімальному значенні 10%)</li>
          <li>Прибуткова діяльність Банку протягом усього періоду існування та позитивна динаміка основних фінансових показників навіть в кризовий період</li>
        </ul>
      </div>
      <div class="content__card content__card_border">
        <h4>Зважена політика управління активами та пасивами</h4>
        <ul>
          <li>Висока якість кредитного портфелю Банку – рівень прострочених кредитів в кредитному портфелі не перевищує 3,44%</li>
          <li>Достатній рівень ліквідності - збалансована структура активів і зобов’язань за строками та валютами</li>
          <li>Відсутність кредитів від НБУ</li>
        </ul>
      </div>
      <div class="content__card content__card_border">
        <h4>Індивідуальний підхід до кожного клієнта</h4>
        <ul>
          <li>Гнучкий підхід в обслуговуванні сприяють лояльності клієнтів та довгостроковій співпраці з Банком</li>
          <li>Конкурентні умови (відсоткові ставки та тарифи) по продуктам для клієнтів</li>
          <li>Постійне підвищення якості обслуговування клієнтів та професіоналізму команди</li>
          <li>Індивідуальні тарифні пакети для VIP та постійних клієнтів</li>
        </ul>
      </div>
      <div class="content__card content__card_border">
        <h4>Інформаційна відкритість</h4>
        <ul>
          <li>Прозора структура власності акціонерного капіталу (основними акціонерами Банку є: Лагур С.М., Івахів С.П., Димінський П.П. та Попов А.В.)</li>
          <li>Банк демонструє інформаційну відкритість, застосовуючи практику проведення аудиту фінансової звітності та отримання незалежних рейтингових оцінок на постійній основі</li>
        </ul>
      </div>
    </div>
    <div class="content__card">
      <h3>Історія логотипу Банку</h3>
      <p class="content__text">Фірмовий логотип ПАТ «БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ» - зображення двох білок, одна на чорному, друга - жовтому фоні, що дивляться одна на одну.</p>
      <p class="content__text">З древніх часів саме цей маленький звірок був невід`ємно пов`язаний з історією грошей. В давнину хутра різних цінних звірів виконували функцію грошей.</p>
      <p class="content__text">В якості замінника металевих грошей їх знали такі стародавні держави як - Спарта, Рим, Карфаген, народи Скандинавії та інші. Наприклад, державна валюта Хорватії і нині називається куна.</p>
      <p class="content__text">У Київській Русі звірині хутра також широко використовували при обміні різних товарів. Так, в літописах під словом «гроші» розуміються «куни» - шубки куниці, «векші» - шубки білки, «резани» - відрізки хутра, «ногати» – лапки звірів.</p>
      <p class="content__text">Коли на території Київській Русі почали карбувати металеві гроші, ці ж назви міцно закріпилися за новими монетами. Бєлка, бєль, векша або вевериця (старослов`янські назви білки) стала металевою грошовою одиницею стародавньої Київської Русі IX - XIII століть. Вперше ця грошова одиниця згадується в «Повісті временних літ». Варто відзначити, що зображення білки можна зустріти на грошах різних країн, як на старовинних так і на сучасних. Образ білки втілює у собі спритність та заощадливість – «крутитися як білка»</p>
    </div>
    <div class="content__card">
      <h3>Регіональна мережа на 01.11.2017р</h3>
      <img class="content__photo content__photo_max"  src="../../img/bank/ukraine.jpg" alt="Карта регіональної мережі, на 01.11.2017р">
      <span class="content__regional-network content__regional-network_card1">17 міст</span>
      <span class="content__regional-network content__regional-network_card2">34 відділення</span>
      <span class="content__regional-network content__regional-network_card3">59 596  Клієнтів  ФО</span>
      <span class="content__regional-network content__regional-network_card4">8 298  Клієнтів  ЮО</span>
    </div>

    <div class="content__card">
      <h3>БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ</h3>
      <div class="content__card content__card_border">
        <h4>Наша місія</h4>
        <p class="content__text">
          Наша місія полягає в наданні якісного, інноваційного та професійного банківського обслуговування своїм клієнтам, що зробить населення заможним, підприємства – конкурентоспроможними та прибутковими, а економіку України – процвітаючою та стабільно-зростаючою.
          <!--«БАНК ІНВЕСТИЦІЙ ТА ЗАОЩАДЖЕНЬ» - фінансова організація, що швидко та динамічно розвивається. Наша Місія – надання високоякісних банківських послуг, бездоганного сервісу та індивідуального підходу до кожного клієнта Банку.Ми прагнемо стати надійним фінансовим партнером, помічником, який розуміє потреби та завдання клієнтів, і пропонує ефективні рішення, як для приватних осіб, так і для корпоративних клієнтів.-->
        </p>
      </div>
      <div class="content__card content__card_border">
        <h4>Наші принципи</h4>
          <p class="content__text">Основним принципом побудови нашого бізнесу є фокус на потребах та інтересах наших клієнтів.</p>
          <p class="content__text">Ми робимо все для того, щоб наші клієнти почувалися комфортно і впевнено як у відділеннях банку, так і користуючись нашими послугами віддалено.</p>
          <p class="content__text">Ми вдосконалюємо бізнес-процеси, впроваджуємо новітні технологічні рішення, підвищуємо рівень нашого сервісу та якість продуктів.</p>
          <p class="content__text">Підвищуючи добробут і розвиваючи бізнес наших клієнтів, ми, цеглинка за цеглинкою, створюємо засади для нашого спільного успіху.</p>
      </div>
    </div>
    
    <div class="content__card">
      <h3>Корпоративні цінності</h3>
      <h4>Наші цінності – основа нашої роботи, це наші орієнтири, які допомагають нам приймати правильні рішення в будь-яких ситуаціях:</h4>
      <div class="content__card content__card_border" >
        <h4>Клієнторієнтованість</h4>
        <p>
          надання Клієнтам найкращих на ринку пропозицій на продукти/послуги за умов їх простоти, зрозумілості та доступності
        </p>
      </div>
      <div class="content__card content__card_border" >
        <h4>Стабільність</h4>
        <p>
          забезпечення сталого зростання показників банку при неодмінному дотриманні помірних ризиків в діяльності
        </p>
      </div>
      <div class="content__card content__card_border" >
        <h4>Комфорт та Довіра</h4>
        <p>
          створення умов, за яких Клієнти почувають себе в банку як у своїй родині
        </p>
      </div>
      <div class="content__card content__card_border" >
        <h4>Професіоналізм</h4>
        <p>
          формування команди однодумців для якісного та кваліфікованого обслуговування Клієнтів
        </p>
      </div>
      <div class="content__card content__card_border" >
        <h4>Інноваційність</h4>
        <p>
          впровадження новітніх технологій для забезпечення потреб Клієнтів в сучасних та різноманітних банківських продуктах
        </p>
      </div>
    </div>

  </section>

  <footer class="footer">

  </footer>
</div>
</body>
</html>