<!DOCTYPE html>
<html lang="uk-UA">
<head>
  <meta charset="UTF-8">
  <title>Наш Банк </title>
  <link rel="shortcut icon" href="../../img/favicon_yellow.ico">
  <meta name="description" content="Bank's_Internal_Page">
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/bank/partners.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.png" alt="logo"></a>
    <h1>Наш Банк</h1>
  </header>

  <section class="content">
    <h2>Наші партнери</h2>
  </section>

  <footer class="footer">

  </footer>
</div>
</body>
</html>