<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Наш Банк </title>
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/bank/structure_bank.css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href="../../index.html"><img class="logo" src="../../img/logo.jpg" alt="logo"></a>
    <h1>Наш Банк</h1>
  </header>

  <section class="content">
    <h2>Структура Банку</h2>
  </section>

  <footer class="footer">

  </footer>
</div>
</body>
</html>