h2 {
  text-align: center;
}

h3 {
  text-align: center; /* will work from IE */
  width: 100%; /* will work from IE */
}

.card {

}

.card__text {
  font-family: Calibri, Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.card__photo {
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  margin: 30px 0;
  border: 1px solid #000;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 118px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 118px -5px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 118px -5px rgba(0,0,0,0.75);
}

.card__photo_min {
  width: 40%;
}