ul, ol {
  width: 100%;
}

ul {
  list-style-type: disc;
  /*margin-bottom: 10px;*/
}

.content__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  height: 100%;
  background-color: rgba(255,255,255, .6);
  border: 2px solid #fff200;
  padding: 30px;
  margin: 20px auto;
}

.content__text {
  font-family: Calibri, Arial, sans-serif;
  text-align: center;
  width: 100%;
}

.content__photo {
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  margin: 30px 0;
  border: 1px solid #000;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 118px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 118px -5px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 118px -5px rgba(0,0,0,0.75);
}

.content__card_border {
  border: 2px dashed #999715;
}

.content__photo_max {
  width: 100%;
}

.content__regional-network {
  background: #fff200;
  border: 1px solid #000;
  padding: 3px;
}

.content__regional-network_card1 {
  position: absolute;
  top: 25%;
  left: 68%;
}

.content__regional-network_card2 {
  position: absolute;
  top: 33%;
  left: 72%;
}

.content__regional-network_card3 {
  position: absolute;
  top: 65%;
  left: 12%;
}

.content__regional-network_card4 {
  position: absolute;
  top: 81%;
  left: 30%;
}

.content__list {
  column-count: 2;
  text-align: center;
}

.content__item {
  margin: 7px 0;
}