@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Dorsa');

body {
    height: 1346px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    background: url(../img/page-bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.main {
    box-sizing: border-box;
    display: block;
    height: 850px;
    width: 1024px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    padding: 60px;
}

.galery {
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.img-box{
    box-sizing: border-box;
    position: relative;
    width: 288px;
    height: 155px;
    margin: 20px 0;
    overflow: hidden;
    cursor: pointer;
}

.img-box img{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.img-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 2;
}

.img-box:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33px;
    height: 33px;
    transform: translate(-50%, -50%);
    background: url(../img/loop.png) center no-repeat;
    -webkit-background-size: 33px 33px;
    background-size: 33px 33px;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 3;
}

.img-box:hover:after, .img-box:hover:before{
    opacity: 1;
}