.container {
  display: flex;
  justify-content: space-between;
  height: 200px;
  max-width: 960px;
  margin: 0 auto;

  background-color: #000;
}

.sidebar {
  width: 25%;
  background-color: #EDCBB1;
}

.cont {
  width: 46%;
  background-color: #6D98BA;
  /*margin: 0 2%;*/
}
